<nav class="collapse d-lg-block sidebar bg-dark">
  <div class="position-sticky">
    <div class="text-center py-4 border-bottom">
      @if ((this.firebaseService.userSignal()?.displayName ?? '') !== '') {
        <h4 class="fw-bold">{{ this.firebaseService.userSignal()?.displayName }}'s Home</h4>
      } @else{
        <h4 class="fw-bold">Home Rest</h4>
      }
    </div>
    <div class="list-group list-group-flush mx-3 mt-3">
      <a routerLink="/" class="list-group-item list-group-item-action bg-dark border-0 py-3 ripple">
        <i class="bi bi-house me-3"></i> Dashboard
      </a>
      <a routerLink="/devices" class="list-group-item list-group-item-action bg-dark border-0 py-3 ripple">
        <i class="bi bi-lightbulb-fill me-3"></i> Devices
      </a>
      <a routerLink="/sensors" class="list-group-item list-group-item-action bg-dark border-0 py-3 ripple">
        <i class="bi bi-thermometer-high me-3"></i> Sensors
      </a>
      <hr class="bg-white">
      @if(this.firebaseService.userSignal()){
        <a routerLink="/account" class="list-group-item list-group-item-action bg-dark border-0 py-3 ripple" >
          <i class="bi bi-gear me-3"></i> Account
        </a>
      } @else{
        <a routerLink="/login" class="list-group-item list-group-item-action bg-dark border-0 py-3 ripple">
          <i class="bi bi-gear me-3"></i> Login
        </a>
      }
    </div>
  </div>
</nav>
