<div class="modal-content bg-dark text-white" data-bs-theme="dark">
  <div class="modal-header">
    <h5 class="modal-title" id="addDeviceModalLabel">
      @if(selectedSensor == undefined){
        Add Sensor
      } @else {
        Edit Sensor
      }</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="sensorForm">
      <div class="mb-3">
        <label for="sensorName" class="form-label">Sensor Name</label>
        <input type="text" formControlName="name" class="form-control" id="sensorName" name="name">
      </div>
      <div class="mb-3">
        <label for="sensorEndpoint" class="form-label">Endpoint</label>
        <input type="text" formControlName="endpoint" class="form-control" id="sensorEndpoint" name="endpoint">
      </div>
      <div class="mb-3">
        <label for="sensorType" class="form-label">Type</label>
        <select class="form-select" id="sensorType" formControlName="type" name="type" #type (input)="selectedIconIndex=0">
          <option value="digital">Digital</option>
          <option value="analog">Analog</option>
        </select>
      </div>
    </form>
    @if(type.value === "digital") {
      <div *ngFor="let iconList of [iconListOn, iconListOff]">
        <div class="d-flex flex-wrap gap-2 justify-content-center align-items-center">
          <i style="font-size: 1.75rem; cursor: pointer;"
             *ngFor="let icon of iconList"
             (click)="selectIcon(iconList.indexOf(icon))"
             [class]="'bi ' + icon"
             [ngClass]="{'border border-light rounded p-1': selectedIconIndex === iconList.indexOf(icon)}"
          ></i>
        </div>
      </div>
    }
    @else{
      <div>
        <div class="d-flex flex-wrap gap-2 justify-content-center align-items-center">
          <i style="font-size: 2rem; cursor: pointer;"
             *ngFor="let icon of iconListNeutral"
             (click)="selectIcon(iconListNeutral.indexOf(icon))"
             [class]="'bi ' + icon"
             [ngClass]="{'border border-light rounded p-1': selectedIconIndex === iconListNeutral.indexOf(icon)}"
          ></i>
        </div>
      </div>
    }
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
    <button type="button" *ngIf="selectedSensor != undefined" class="btn btn-danger" (click)="deleteSensor()">Delete</button>
    <button type="button" class="btn btn-primary" (click)="addSensor()" [disabled]="!sensorForm.valid">
      @if(selectedSensor == undefined){
        Add
      } @else {
        Edit
      }
    </button>
  </div>
</div>
