@if(device != undefined) {
  @if(device.type === "digital"){
    <div class="card device-card text-center p-3 d-flex flex-column justify-content-between w-100 h-100">
      <h3 class="fw-bold mb-1 text-center text-break"
          [ngClass]="getDeviceFontClass(device.name)">
        {{ device.name }}
      </h3>
      <div class="mb-1">
        <i class="bi" style="font-size: 2.5rem;"
           [ngClass]="apiStatus === ApiResponse.Online ? (status === 'on' ? iconListOn[device.iconId] + ' text-warning' : iconListOff[device.iconId] + ' text-secondary') : iconListErrors[apiStatus] + ' text-danger'"
        ></i>
      </div>

      <div class="d-flex justify-content-center gap-2 flex-wrap">
        <button class="on-off-btn btn btn-outline-success d-flex align-items-center justify-content-center gap-2" (click)="callDeviceEndpoint('on', $event)" [disabled]="apiStatus !== ApiResponse.Online">
          <i class="bi bi-toggle-on"></i> On
        </button>
        <button class="on-off-btn btn btn-outline-danger d-flex align-items-center justify-content-center gap-2" (click)="callDeviceEndpoint('off', $event)" [disabled]="apiStatus !== ApiResponse.Online">
          <i class="bi bi-toggle-off"></i> Off
        </button>
        <button class="btn btn-outline-light d-flex align-items-center justify-content-center gap-2" (click)="callDeviceEndpoint('toggle', $event)" [disabled]="apiStatus !== ApiResponse.Online">
          <div class="text-center"><i class="bi bi-arrow-repeat"></i> Toggle</div>
        </button>
      </div>

    </div>
  } @else {
    <div class="card device-card text-center p-3 d-flex flex-column justify-content-between w-100 h-100">
      <h4 class="fw-bold mb-1">{{ device.name }}</h4>
      <div class="mb-1">
        <i class="bi" style="font-size: 2.75rem;"
           [ngClass]="[
           apiStatus === ApiResponse.Online ? iconListNeutral[device.iconId] : iconListErrors[apiStatus] + ' text-danger',
           status === '0' ? 'text-secondary' : '',
           status === '1' ? 'text-success' : '',
           status === '2' ? 'text-warning' : '',
           status === '3' ? 'text-danger' : ''
           ]"
        ></i>
      </div>

      <div class="d-flex justify-content-center gap-2 flex-wrap">
        <button class="analog-btn btn" *ngFor="let level of ['1', '2', '3', '0']" (click)="callDeviceEndpoint(level, $event)" [disabled]="apiStatus !== ApiResponse.Online"
          [ngClass]="{
          'btn-outline-light': level === '0',
          'btn-outline-success': level === '1',
          'btn-outline-warning': level === '2',
          'btn-outline-danger': level === '3',
          'fw-bold border-1': status === level
          }">{{ level }}
        </button>
      </div>

    </div>
  }
}
