<div class="container my-4 text-center" *ngIf="this.router.url === '/'">
  <h3><i class="bi bi-lightbulb-fill"></i> Devices</h3>
</div>

<div class="container my-4">
  <div class="row g-3 justify-content-center">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let device of devices">
      <app-device-view [device]="device" (click)="openEditModal(device)"></app-device-view>
    </div>

    @if (this.router.url != '/') {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card text-center p-3 d-flex flex-column justify-content-center w-100 h-100" style="cursor: pointer;" (click)="openAddModal()">
          <div class="display-4 text-primary">+</div>
          <p class="mt-2 mb-0">Add Device</p>
        </div>
      </div>
    }
  </div>
</div>
