<div class="d-md-none p-2 bg-dark">
  <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar">
    <i class="bi bi-list"></i> Menu
  </button>
</div>

<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" data-bs-theme="dark" id="mobileSidebar">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Home Rest</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <app-side-bar></app-side-bar>
  </div>
</div>

<div class="container-fluid bg-dark text-white min-vh-100" data-bs-theme="dark">
  @if (!isOnline) {
    <div class="alert alert-warning">
      ⚠️ You are offline, connect to internet to load your devices!
    </div>
  }
  <div class="row">
    <div class="col-md-2 d-none d-md-block px-3 py-0">
      <app-side-bar id="mainSidebar"></app-side-bar>
    </div>

    <div class="d-none d-md-block col-auto d-flex">
      <div class="vr bg-secondary vh-100"></div>
    </div>

    <div class="ol-12 col-md p-2">
      <app-toast></app-toast>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
